:root {
    --font-rob: 'Roboto', sans-serif;
    --font-ral: 'Raleway', sans-serif;

    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --contact-text-color: rgba(255, 255, 255, 0.6);
  

    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    }

    body {
        font-family: var(--font-rob); 
        background-color: var(--primary-bg-color);
        color: var(--title-text-color);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .hide {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        word-wrap: normal !important;
      }
      
      .link {
        text-decoration: none;
      }

      
      /* -----------------HEADER---------------- */

       .web,
       .logo,
       .logo-footer {
       font-family: var(--font-ral);
       font-weight: 700;
       font-size: 26px;
       line-height: calc(31 / 26);
       letter-spacing: 0.03em;
       
       color: var(--accent-color);
       }

       .logo {
        color: var(--black-text-color);
       }

       .header-nav-link,
       .header-contact {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
        
        color: var(--title-text-color);
       }

       .header-nav-link.current {
        color: var(--accent-color);
      }

      .header-contact {
        color: var(--primary-text-color);
      }

      .header-contact:hover,
      .header-contact:focus {
        color: var(--accent-color);
      }


       /* -----------------HERO---------------- */

       .hero {
        background-color: var(--secondary-bg-color);
       }

       .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60 / 44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: var(--white-text-color);
       }

       .hero-btn {
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30 / 16);
        
       
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        
        color: var(--white-text-color);

        background: var(--accent-color);
        border-radius: 4px;
        cursor: pointer;
       }

        /* -----------------FEATURES---------------- */


        .features-title {
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        }

        .features-subtitle {
            font-size: 14px;
            line-height: calc(24 / 14);
            letter-spacing: 0.03em;
            
            color: var(--primary-text-color);
        }

        /* -----------------OCCUPATION---------------- */

        .occupation-title {
            font-size: 36px;
            line-height: calc(42 / 36);
            text-align: center;
            letter-spacing: 0.03em;
        }

       /* -----------------TEAM---------------- */

       .team-title {
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
        letter-spacing: 0.03em;
        }

       .team-item-title {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        
        text-align: center;
        letter-spacing: 0.03em;
        }
   
       .team-item-text {
        font-size: 16px;
        line-height: calc(19 / 16);
        
        text-align: center;
        letter-spacing: 0.03em;
        
        color: var(--primary-text-color);
    }

    .team {
      background-color: var(--team-bg-color);
    }
       
    /* -----------------FOOTER---------------- */

    .footer {
      background-color: var(--secondary-bg-color);
    }
    .logo-footer {
      color: var(--white-text-color);
    }

    .footer-link,
    .footer-contact {
      font-style: normal;
      font-size: 14px;
      line-height: calc(24 / 14);
      letter-spacing: 0.03em;
      
      color: var(--white-text-color);
    }

    .footer-contact {
     color: var(--contact-text-color);
    }

    
    .footer-contact:hover,
    .footer-contact:focus {
     color: var(--accent-color);
    }



    /* -----------------PORTFOLIO---------------- */

    .filter-btn {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: calc(26 / 16);
      
      
      text-align: center;
      letter-spacing: 0.03em;
      border-radius: 4px;
      
      color: var(--title-text-color);
      background-color: var(--team-bg-color);

      cursor: pointer;
    }

    .filter-btn:hover,
    .filter-btn:focus {
      color: var(--white-text-color);
      background-color: var(--accent-color);
    }

    .project-title {
      font-size: 18px;
      line-height: calc(36 / 18);
      
      letter-spacing: 0.06em;
      
    }

    .project-text {
      font-size: 16px;
      line-height: calc(30 / 16);
      
      letter-spacing: 0.03em;
      
      color: var(--primary-text-color);
    }
        